.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: cadetblue;
    width: 100%;
    height: 10vh;
    position: sticky;
    top: 0;
    z-index: 4;
}

.header-center {
    background-color: darkolivegreen;
    flex: 0.8;
    border-radius: 5px;
    position: relative;
}

.header-center input {
    background: transparent;
    outline: none;
    width: 100%;
    padding: 1rem;
    border: none;
    border-radius: 5px;
}

.header-center .MuiSvgIcon-root {
    margin-right: .5rem;
    position: absolute;
    top: 20%;
    right: 2%;
    color: white;
}

.header-centerSearchClose {
    position: absolute;
    top: 2%;
    right: 3%;
    color: white;
    cursor: pointer;
    font-size: 1.5rem;
}

.header-search {
    margin-top: 5px;
    position: absolute;
    background: darkolivegreen;
    width: 100%;
}

.header-left {
    display: flex;
}

.header-leftAvatar {
    display: flex;
    align-items: center;
    color: white;
}

.header-left .MuiSvgIcon-root.active {
    color: white !important;
}

