.profileInfo {
    height: 300px;
    width: 1000px;
    max-width: 100%;
    margin: 1rem auto;
    border-radius: 20px;

}

.profileInfoContainer {
    display: flex;
    flex-direction: column;
    background: gold;
    height: 100%;
    width: 100%;
    border-radius: 20px;
}

.profileInfoTop {
    height: 200px;
    width: 100%;
    border-bottom: 2px solid white;
}

.profileInfoTop img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.profileInfoCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.profileInfoCenterAvatar {
    position: absolute;
    width: 150px;
    height: 150px;
    object-fit: cover;
    transform: translateY(-40px);
    border-top: 10px solid rgb(189, 57, 241);
    border-left: 10px solid rgb(108, 34, 168);
    border-right: 10px solid rgb(241, 57, 216);
    border-bottom: 10px solid rgb(129, 11, 112);
    padding: 1px;
    border-radius: 50%;
}

.profileInfoCenterButton {
    position: absolute;
    transform: translateX(200px);
    width: 150px;
    height: 50px;
    border-top: 5px solid rgb(189, 57, 241);
    border-left: 5px solid rgb(108, 34, 168);
    border-right: 5px solid rgb(241, 57, 216);
    border-bottom: 5px solid rgb(129, 11, 112);
    background-color: cadetblue;
    color: white;
    border-radius: 10px;
}

.profileInfoBottom {
    margin-top: 2.4rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 1rem;
}

.profileInfoBottomLeft {
    flex: 0.33;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profileInfoStat {
    padding: 5px;
}

.profileInfoStatNumber {
    font-size: large;
    text-align: center;
    font-weight: 600;
    color: #000000;
}

.profileInfoStatDesc {
    font-size: 14px;
    text-align: center;
    font-weight: 300;
    text-transform: capitalize;
    color: #000000;
}

.profileInfoBottomCenter {
    flex: 0.33;
}

.profileInfoFullName {
    text-align: center;
    color: #000000;
    font-weight: 900;
    font-size: 1.5rem;
    letter-spacing: 2px;
}

.profileInfoUsername {
    text-align: center;
    color: #000000;
    font-weight: 300;
    font-size: small;
}

.profileInfoBottomRight {
    flex: 0.33;
}

