.profileAbout {
    background: gold;
    margin: 20px 0;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 300px 20px #fced84;
    max-width: 250px;
    min-height: 300px;
}

.profileAboutContainer {
    display: flex;
    flex-direction: column;
}

.profileAboutContentTopHead {
    padding: 1rem .3rem;
    font-size: 3rem;
    font-weight: bolder;
}

.profileAboutContainerCenterStory {
    padding: .5rem;

}

.profileAboutContainerBottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    //padding: 1rem 0;
}

.profileAboutContainerBottomInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.3rem 0;
}

.profileAboutContainerBottomInfoHead {
    font-size: medium;
    font-weight: 600;
    color: gray;
}

.profileAboutContainerBottomInfoBody {
    align-self: flex-end;
    font-size: small;
    font-weight: 300;
    color: black;
}